@model IEnumerable<BookStore.Models.Book>
@{
	ViewData["Title"] = "Home Page";
}

<div class="row pb-4">
	@foreach(var item in @Model)
	{
		<div class="card" style="width:18rem;">
			@foreach(var item in Model.BookPictures)
{
    
        <img src="~/Images/@item.PictureUri" width="100" height="100" />
    
}
			<img class="card-img-top" src="@item.BookPictures" alt="Card image not found">
			<div class="card-body">
				<h5 class="card-title">@item.Name</h5>
				<p class="card-text">Price: @item.Price.ToString("0.00")</p>
			</div>
			</div>
	}
</div>